@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}
	#root {
		@apply bg-background;
		@apply min-h-screen;
	}

	@font-face {
		font-family: 'CabinetGrotesk-Variable';
		src: url('./assets/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
		font-weight: 100 900;
		font-display: swap;
		font-style: normal;
	}

	h1 {
		@apply font-extrabold font-Cabinet text-text;
	}

	h2,
	h3,
	h4 {
		@apply font-bold font-Cabinet text-text;
	}

	p {
		@apply font-medium font-Cabinet text-text;
	}
}
