@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'CabinetGrotesk-Variable';
		src: url('./assets/fonts/CabinetGrotesk-Variable.ttf') format('truetype');
		font-weight: 100 900;
		font-display: swap;
		font-style: normal;
	}

	h1 {
		@apply font-extrabold font-Cabinet text-text;
	}

	h2,
	h3,
	h4 {
		@apply font-bold font-Cabinet text-text;
	}

	p {
		@apply font-medium font-Cabinet text-text;
	}
}

@layer components {
	body {
		@apply bg-background;
	}

	#root {
		@apply h-dvh;
		@apply font-bold font-Cabinet;
		@apply flex flex-col justify-between;
	}

	.form__actions {
		@apply mx-auto;
	}

	.form__group {
		@apply w-full;
		@apply mb-4 last:mb-1;
	}

	.form__group-label {
		@apply block;
		/* @apply inline-block; */
		@apply mb-3;
		@apply text-primary;
	}

	.form__group-control {
		@apply w-full;
		@apply px-3 py-1;
		@apply border border-gray-300 rounded;
		@apply bg-content;
		@apply text-content;
		@apply focus:outline-none focus:ring-2 focus:ring-gray-200;
	}
}
